language: node_js

node_js:
- '12.4.0'

os:
- linux

group: dev
sudo: required
dist: xenial

branches:
  only:
  - master
  - /^v\d+\.\d+\.\d+$/

env:
  global:
    - RELEASE_TAG_EXPRESSION=^v?[0-9]+\.[0-9]+\.[0-9]+$

install:
- npm install -g vsce
- npm install -g typescript
- npm install

script:
- vsce package
- npm test

deploy:
  - provider: releases
    api_key: $GITHUB_TOKEN
    file_glob: true
    file: "*.vsix"
    skip_cleanup: true
    on:
      branch: master
      condition: "$TRAVIS_OS_NAME == linux"
  - provider: script
    script: vsce publish -p $VSCE_TOKEN --packagePath *.vsix
    skip_cleanup: true
    on:
      tags: true
      condition: "$TRAVIS_TAG =~ $RELEASE_TAG_EXPRESSION"

cache:
  directories:
    - node_modules